<!DOCTYPE html>
<html lang="ja">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>MySQLmaker</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/common.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/parts/_flash.css') }}">
</head>



<body>
    {% include 'parts/_flash.html' %}

    <div class="app">
        <!-- ヘッダー -->
        <header>
            <div class="logo">MySQLmaker</div>
            <div class="toggle-switch">
                <div class="toggle-option active">左</div>
                <div class="toggle-option">右</div>
            </div>
        </header>

        <!-- コマンドパレット -->
        <aside class="sidebar">
            <button class="btn yellow">ボタン1</button>
            <button class="btn red">ボタン2</button>
            <button class="btn green">ボタン3</button>
            <button class="btn green">ボタン4</button>
            <button class="btn green">ボタン5</button>
            <button class="btn green">ボタン6</button>
            <button class="btn green">ボタン7</button>
            <button class="btn green">ボタン8</button>
            <button class="btn green">ボタン9</button>
        </aside>

        <!-- メイン -->
        <main class="main">
            <div class="table-card">
                <div class="table-logical">
                    <input type="text" value="論理名" class="input-table" />
                </div>
                <div class="table-physical">
                    <input type="text" value="buturimei" class="input-table" />
                </div>

                <!-- カラム -->
                <div class="column-wrapper">
                    <!-- 行 -->
                    <div class="column-row">
                        <div class="col-logical">
                            <input type="text" value="論理名" class="input-col" />
                        </div>
                        <div class="col-key pk">
                            <input type="text" value="PK" class="input-col" />
                        </div>
                        <div class="col-physical">
                            <input type="text" value="buturimei" class="input-col" />
                        </div>
                        <div class="col-mold int">
                            <input type="text" value="INT" class="input-col" />
                        </div>
                        <div class="col-ng"></div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> NOT NULL
                            </label>
                        </div>
                        <div class="col-constraint">
                            <label class="auto-increment">
                                <input type="checkbox" class="chk-col" /> AUTO INCREMENT
                            </label>
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> UNIQUE
                            </label>
                        </div>
                    </div>
                    <!-- 行 -->
                    <div class="column-row">
                        <div class="col-logical">
                            <input type="text" value="論理名" class="input-col" />
                        </div>
                        <div class="col-key fk">
                            <input type="text" value="FK" class="input-col" />
                        </div>
                        <div class="col-physical">
                            <input type="text" value="buturimei" class="input-col" />
                        </div>
                        <div class="col-mold char">
                            <input type="text" value="varchar(255)" class="input-col" />
                        </div>
                        <div class="col-default">
                            <input type="text" value="" class="input-col" />
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> NOT NULL
                            </label>
                        </div>
                        <div class="col-reference">
                            <input type="text" value="FK参照先" class="input-col" />
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> UNIQUE
                            </label>
                        </div>
                    </div>
                    <!-- 行 -->
                    <div class="column-row">
                        <div class="col-logical">
                            <input type="text" value="論理名" class="input-col" />
                        </div>
                        <div class="col-key">
                            <input type="text" value="" class="input-col" />
                        </div>
                        <div class="col-physical">
                            <input type="text" value="buturimei" class="input-col" />
                        </div>
                        <div class="col-mold other">
                            <input type="text" value="TEXT" class="input-col" />
                        </div>
                        <div class="col-default">
                            <input type="text" value="デフォルト値" class="input-col" />
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> NOT NULL
                            </label>
                        </div>
                        <div class="col-ng"></div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> UNIQUE
                            </label>
                        </div>
                    </div>
                </div>

                <div class="add-column">＋ カラムを追加</div>
            </div>

            <div class="table-card">
                <div class="table-logical">
                    <input type="text" value="論理名" class="input-table" />
                </div>
                <div class="table-physical">
                    <input type="text" value="buturimei" class="input-table" />
                </div>

                <!-- カラム -->
                <div class="column-wrapper">
                    <!-- 行 -->
                    <div class="column-row">
                        <div class="col-logical">
                            <input type="text" value="論理名" class="input-col" />
                        </div>
                        <div class="col-key">
                            <input type="text" value="" class="input-col" />
                        </div>
                        <div class="col-physical">
                            <input type="text" value="buturimei" class="input-col" />
                        </div>
                        <div class="col-mold int">
                            <input type="text" value="INT" class="input-col" />
                        </div>
                        <div class="col-default">
                            <input type="text" value="" class="input-col" />
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> NOT NULL
                            </label>
                        </div>
                        <div class="col-constraint">
                            <label class="auto-increment">
                                <input type="checkbox" class="chk-col" /> AUTO INCREMENT
                            </label>
                        </div>
                        <div class="col-constraint">
                            <label>
                                <input type="checkbox" class="chk-col" /> UNIQUE
                            </label>
                        </div>
                    </div>
                </div>

                <div class="add-column">＋ カラムを追加</div>
            </div>

            <div class="add-table-btn">＋ 新しいテーブル</div>
        </main>
    </div>

    <script src="{{ url_for('static', filename='js/toggle.js') }}"></script>
    <script src="{{ url_for('static', filename='js/parts/_flash.js') }}"></script>
</body>

</html>